{block content}
<div class="txt">
    <h1 n:block="language">Jazyk: {$posts['language']}</h1>
    <h2 n:block="rating">Hodnocení: {$posts['rating']}</h2>
    <h2 n:block="time">Čas: {$posts['time']} minut</h2>
    <h2 n:block="description">Popis: {$posts['description']}</h2>
</div>