{block content}

<div class="site-login-section">
    <div class="login">
        {control loginForm}
    </div>
    
    <div class="register">
        {control registerForm}
    </div>
</div>

<div class="google-login-section">
    <div class="google">
    
    </div>
</div> 